.facade-flow  {
    position: absolute;
    top: 50%;
    margin-top: -500px;
    left: 0;
    right: 0;
    height: 1000px;
}
.facade-flow .flow .montage-Flow-Repetition {
    opacity: 1;
    -webkit-transition: opacity .5s;
    -moz-transition: opacity .5s;
    -ms-transition: opacity .5s;
    transition: opacity .5s;
}
.facade-flow .flow.flow-fade-out .montage-Flow-Repetition {
    opacity: 0;
}
.montage-Flow-Slot {
    -webkit-transform-style: preserve-3d;
}
/*.film {
    position: absolute;
    width: 1184px;
    height: 472px;
    top: 176px;
    left: 295px;
    background-image: url(overlay.png);
    background-size: 438px 472px;
    background-repeat: no-repeat;
    pointer-events: none;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.film:before {
    content: "";
    position: absolute;
    width: 1184px;
    height: 472px;
    top: 0;
    left: 0;
    background-image: url(overlay.png);
    background-size: 438px 472px;
    background-repeat: no-repeat;
    pointer-events: none;
    -webkit-transform: scale(-1, 1);
    -moz-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
    transform: scale(-1, 1);
}
.film:after {
    content: "";
    position: absolute;
    width: 143px;
    height: 144px;
    top: 297px;
    left: 873px;
    background-image: url(popcorn.png);
    background-size: 143px 144px;
    background-repeat: no-repeat;
    pointer-events: none;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}*/
.flow .Image  {
    position: absolute;
    width: 180px;
    height: 267px;
    margin-left: -90px;
    margin-top: -130px;
    cursor: pointer;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.flow .Image:before {
    content: "";
    position: absolute;
    top: -26px;
    left: -33px;
    width: 246px;
    height: 332px;
    background-image: url(frame.png);
    background-size: 246px 332px;
    background-repeat: no-repeat;
}
.details  {
    height: 280px;
    margin: 0 auto;
    -webkit-transform: translate3d(0,-30px,0);
    -moz-transform: translate3d(0,-30px,0);
    -ms-transform: translate3d(0,-30px,0);
    transform: translate3d(0,-30px,0);
    -webkit-transition: opacity .5s, -webkit-transform .5s;
    -moz-transition: opacity .5s, -moz-transform .5s;
    -ms-transition: opacity .5s, -ms-transform .5s;
    transition: opacity .5s, transform .5s;
    display: none;
}
.details-fade-out{
    opacity: 0;
    -webkit-transform: translate3d(0,-20px,0);
    -moz-transform: translate3d(0,-20px,0);
    -ms-transform: translate3d(0,-20px,0);
    transform: translate3d(0,-20px,0);
}