.Overlay {
    position: absolute;
    top: -818px;
    left: -1774px;
    width: 1776px;
    height: 1682px;
    background-image: url(background.jpg);
    background-repeat: no-repeat;
    -webkit-transform: translate3d(0, 0, -855.612018px);
    -moz-transform: translate3d(0, 0, -855.612018px);
    -ms-transform: translate3d(0, 0, -855.612018px);
    transform: translate3d(0, 0, -855.612018px);
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
}
.Overlay:before {
    content: "";
    position: absolute;
    top: 0;
    left: 1772px;
    width: 1776px;
    height: 1682px;
    background-image: url(background.jpg);
    background-repeat: no-repeat;
    -webkit-transform: scale(-1, 1);
    -moz-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
    transform: scale(-1, 1);
}
.Overlay .film {
    position: absolute;
    left: 1774px;
    top: 841px;
    width: 1184px;
    height: 944px;
    background-image: url(overlay.png);
    background-repeat: no-repeat;
    pointer-events: none;
    -webkit-transform-origin: 0 0 0;
    -moz-transform-origin: 0 0 0;
    -ms-transform-origin: 0 0 0;
    transform-origin: 0 0 0;
    -webkit-transform: translate3d(-296px, -139.5px, 941.709016px) scale(.25, .25);
    -moz-transform: translate3d(-296px, -139.5px, 941.709016px) scale(.25, .25);
    -ms-transform: translate3d(-296px, -139.5px, 941.709016px) scale(.25, .25);
    transform: translate3d(-296px, -139.5px, 941.709016px) scale(.25, .25);
}
.Overlay .film:before {
    content: "";
    position: absolute;
    width: 1184px;
    height: 944px;
    background-image: url(overlay.png);
    background-repeat: no-repeat;
    pointer-events: none;
    -webkit-transform-origin: 0 0 0;
    -moz-transform-origin: 0 0 0;
    -ms-transform-origin: 0 0 0;
    transform-origin: 0 0 0;
    -webkit-transform: translate3d(2368px, 0, 0) scale(-1, 1);
    -moz-transform: translate3d(2368px, 0, 0) scale(-1, 1);
    -ms-transform: translate3d(2368px, 0, 0) scale(-1, 1);
    transform: translate3d(2368px, 0, 0) scale(-1, 1);
}
.Overlay .film:after {
    content: "";
    position: absolute;
    width: 286px;
    height: 288px;
    background-image: url(popcorn.png);
    background-repeat: no-repeat;
    pointer-events: none;
    -webkit-transform-origin: 0 0 0;
    -moz-transform-origin: 0 0 0;
    -ms-transform-origin: 0 0 0;
    transform-origin: 0 0 0;
    -webkit-transform: translate3d(1760px, 600px, 0);
    -moz-transform: translate3d(1760px, 600px, 0);
    -ms-transform: translate3d(1760px, 600px, 0);
    transform: translate3d(1760px, 600px, 0);
}
.Overlay .top {
    position: absolute;
    left: 1774px;
    top: 818px;
    width: 832px;
    height: 1682px;
    border-left: 240px solid black;
    background-image: url(background.jpg);
    background-repeat: no-repeat;
    pointer-events: none;
    -webkit-transform-origin: 0 0 0;
    -moz-transform-origin: 0 0 0;
    -ms-transform-origin: 0 0 0;
    transform-origin: 0 0 0;
    -webkit-transform: translate3d(-251.75px, -102.25px, 1098.660519px) scale(.125, .125);
    -moz-transform: translate3d(-251.75px, -102.25px, 1098.660519px) scale(.125, .125);
    -ms-transform: translate3d(-251.75px, -102.25px, 1098.660519px) scale(.125, .125);
    transform: translate3d(-251.75px, -102.25px, 1098.660519px) scale(.125, .125);
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
}
.Overlay .top:before {
    content: "";
    position: absolute;
    width: 592px;
    height: 1682px;
    border-left: 240px solid black;
    background-image: url(background.jpg);
    background-repeat: no-repeat;
    pointer-events: none;
    -webkit-transform-origin: 0 0 0;
    -moz-transform-origin: 0 0 0;
    -ms-transform-origin: 0 0 0;
    transform-origin: 0 0 0;
    -webkit-transform: translate3d(3788px, 0, 0) scale(-1, 1);
    -moz-transform: translate3d(3788px, 0, 0) scale(-1, 1);
    -ms-transform: translate3d(3788px, 0, 0) scale(-1, 1);
    transform: translate3d(3788px, 0, 0) scale(-1, 1);
}