.details {
    border-radius: 3px;
    box-shadow: 0 0 30px rgba(0,0,0,.8);
    overflow: hidden;
}

.details .title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: normal;
    margin: 0;
    padding: 0;
    font-size: 18px;
    line-height: 42px;
    padding: 0 162px 0 12px;
    height: 42px;
    background: -webkit-linear-gradient(top, hsla(0,0%,50%,.95), hsla(0,0%,25%,.95) );
    background: -moz-linear-gradient(top, hsla(0,0%,50%,.95), hsla(0,0%,25%,.95) );
    background: -ms-linear-gradient(top, hsla(0,0%,50%,.95), hsla(0,0%,25%,.95) );
    background: linear-gradient(top, hsla(0,0%,50%,.95), hsla(0,0%,25%,.95) );
}

.details .title:before {
    content: "▲";
    color: rgba(0,0,0,.2);
    position: absolute;
    left: 0;
    top: 3px;
    right: 0;
    text-align: center;
    line-height: 30px;
    font-size: 30px;
    -webkit-transform-origin: 50% 0 0;
    -moz-transform-origin: 50% 0 0;
    -ms-transform-origin: 50% 0 0;
    transform-origin: 50% 0 0;
    -webkit-transform: scale3d(.9,.3,1);
    -moz-transform: scale3d(.9,.3,1);
    -ms-transform: scale3d(.9,.3,1);
    transform: scale3d(.9,.3,1);
}

.details .maturity {
    margin: 0 30px 0 0;
    padding: 0 0.5em;
    border: 2px solid hsl(0,0%,100%);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    color: hsl(0,0%,100%);
    font-size: 14px;
}

.details .score {
    margin: 0 30px 0 2px;
    padding: 4px 0px;
    color: hsl(0,0%,100%);
}

.details .expand:active .title:before {
    color: rgba(0,0,0,.4);
}

.details.expanded .title:before {
    content: "▼";
}

.summary {
    margin: 0;
    font-size: 13px;
    line-height: 29px;
    background: -webkit-linear-gradient(top, hsla(0,0%,10%,.95), hsla(0,0%,25%,.95) );
    background: -moz-linear-gradient(top, hsla(0,0%,10%,.95), hsla(0,0%,25%,.95) );
    background: -ms-linear-gradient(top, hsla(0,0%,10%,.95), hsla(0,0%,25%,.95) );
    background: linear-gradient(top, hsla(0,0%,10%,.95), hsla(0,0%,25%,.95) );
    border-bottom: 1px solid rgba(0,0,0,.5);
    display: -webkit-box;
    display: -moz-box;
    display: -ms-box;
    display: box;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -ms-box-orient: horizontal;
    box-orient: horizontal;
}

.summary > div {
    padding: 0 6px;
    text-align: center;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -ms-box-flex: 1;
    box-flex: 1;
    border-left: 1px solid rgba(0,0,0,.3);
    color: #bbb;
}

.summary > div:first-child {
    border-left: none;
}

.summary * {
    white-space: nowrap;
}

.details .action-buttons .matte-Button.button,
.details .action-buttons .matte-Button:focus,
.details .action-buttons .matte-Button:active,
.details .action-buttons .matte-Button.active,
.details .action-buttons .matte-Button:hover {
    float: left;
    margin: 0;
    padding: 0;
    display: block;
    width: 75px;
    border: none;
    border-radius: 0;
    color: white;
    font-size: 15px;
    font-weight: normal;
    font-family: inherit;
    height: 42px;
    background: transparent;
    border-left: 1px solid rgba(0,0,0,.3);
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

@media (max-width: 500px) and (orientation: portrait) {

    .summary > div {
        font-size: 9.5px;
        padding: 0;
        border: none;
    }
    .details .title {
        font-size: 16px;
    }
    .details .action-buttons .matte-Button.button,
    .details .action-buttons .matte-Button:focus,
    .details .action-buttons .matte-Button:active,
    .details .action-buttons .matte-Button.active,
    .details .action-buttons .matte-Button:hover {
        font-size: 13px;
        width: 64px;
    }
}

.scroller {
    height: 108px;
    color: white;
    background: hsl(0,0%,13%);
}
.details:after {
    content: "";
    height: 20px;
    bottom: 0;
    left: 16px;
    right: 16px;
    position: absolute;
    border-bottom: 11px solid hsl(0,0%,13%);
    background: -webkit-linear-gradient(top, hsla(0,0%,13%,0), hsl(0,0%,13%) );
    background: -moz-linear-gradient(top, hsla(0,0%,18%,.95), hsla(0,0%,25%,.95) );
    background: -ms-linear-gradient(top, hsla(0,0%,18%,.95), hsla(0,0%,25%,.95) );
    background: linear-gradient(top, hsla(0,0%,18%,.95), hsla(0,0%,25%,.95) );
    -webkit-transform: translate3d(0,1px,0);
    -moz-transform: translate3d(0,1px,0);
    -ms-transform: translate3d(0,1px,0);
    transform: translate3d(0,1px,0);
    pointer-events: none;
}

.description {
    margin: 0;
    padding: 12px 20px 22px 20px;
    text-align: left;
    font-size: 14px;
    line-height: 20px;
}

.action-buttons {
    position: absolute;
    top: 0;
    right: 0;
}

.details .expand.matte-Button,
.details .expand.matte-Button:hover,
.details .expand.matte-Button.active,
.details .expand.matte-Button:active,
.details .expand.matte-Button.focus {
    color: white;
    display: black;
    border: none;
    border-radius: 0;
    height: auto;
    padding: 0;
    margin: 0;
    background: transparent;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.rt-icon {
    margin-left: 12px;
    display: inline-block;
    width: 25px;
    height: 25px;
    vertical-align: bottom;
    background-size: 25px auto;
    background-image: url(rt_lg.png);
    background-repeat: no-repeat;
    display: none;
}
