.Details {
    border-radius: 3px;
    box-shadow: 0 0 30px rgba(0,0,0,.8);
    overflow: hidden;
}

.Details .title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: normal;
    margin: 0;
    padding: 0;
    font-size: 18px;
    line-height: 42px;
    padding: 0 84px 0 12px;
    height: 42px;
    background: -webkit-linear-gradient(top, hsla(0,0%,50%,.95), hsla(0,0%,25%,.95) );
    background: -moz-linear-gradient(top, hsla(0,0%,50%,.95), hsla(0,0%,25%,.95) );
    background: -ms-linear-gradient(top, hsla(0,0%,50%,.95), hsla(0,0%,25%,.95) );
    background: linear-gradient(top, hsla(0,0%,50%,.95), hsla(0,0%,25%,.95) );
}

.Details .title:before {
    content: "▲";
    color: rgba(0,0,0,.2);
    position: absolute;
    left: 0;
    top: 3px;
    right: 0;
    text-align: center;
    line-height: 30px;
    font-size: 30px;
    -webkit-transform-origin: 50% 0 0;
    -moz-transform-origin: 50% 0 0;
    -ms-transform-origin: 50% 0 0;
    transform-origin: 50% 0 0;
    -webkit-transform: scale3d(.9,.3,1);
    -moz-transform: scale3d(.9,.3,1);
    -ms-transform: scale3d(.9,.3,1);
    transform: scale3d(.9,.3,1);
}

.Details .maturity {
    margin: 0 2px 0 4px;
    padding: 0 0.5em;
    border: 1px solid hsl(0,0%,100%);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    color: hsl(0,0%,100%);
}

.Details .expand:active .title:before {
    color: rgba(0,0,0,.4);
}

.Details.expanded .title:before {
    content: "▼";
}

.summary {
    margin: 0;
    font-size: 13px;
    line-height: 29px;
    background: -webkit-linear-gradient(top, hsla(0,0%,10%,.95), hsla(0,0%,25%,.95) );
    background: -moz-linear-gradient(top, hsla(0,0%,10%,.95), hsla(0,0%,25%,.95) );
    background: -ms-linear-gradient(top, hsla(0,0%,10%,.95), hsla(0,0%,25%,.95) );
    background: linear-gradient(top, hsla(0,0%,10%,.95), hsla(0,0%,25%,.95) );
    border-bottom: 1px solid rgba(0,0,0,.5);
    display: -webkit-box;
    display: -moz-box;
    display: -ms-box;
    display: flex;
}

.summary > div {
    padding: 0 6px;
    text-align: center;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -ms-box-flex: 1;
    flex: 1;
    border-left: 1px solid rgba(0,0,0,.3);
    color: #bbb;
    position: relative;
}

.summary > div:first-child {
    border-left: none;
}

.summary > div > div {
    border-bottom: 1px solid rgba(0,0,0,.3);
    font-size: 13px;
    color: #777;
}

.summary * {
    white-space: nowrap;
}

.Details .action-buttons .digit-Button.button,
.Details .action-buttons .digit-Button:focus,
.Details .action-buttons .digit-Button:active,
.Details .action-buttons .digit-Button.active,
.Details .action-buttons .digit-Button:hover {
    float: left;
    margin: 0;
    padding: 0;
    display: block;
    width: 75px;
    border: none;
    border-radius: 0;
    color: white;
    font-size: 15px;
    font-weight: normal;
    font-family: inherit;
    height: 42px;
    background: transparent;
    border-left: 1px solid rgba(0,0,0,.3);
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.scroller {
    height: 101px;
    color: white;
    background: hsl(0,0%,13%);
}
.Details:after {
    content: "";
    height: 20px;
    bottom: 0;
    left: 16px;
    right: 16px;
    position: absolute;
    border-bottom: 11px solid hsl(0,0%,13%);
    background: -webkit-linear-gradient(top, hsla(0,0%,13%,0), hsla(0,0%,13%, 1) );
    background: -moz-linear-gradient(top, hsla(0,0%,13%,0), hsla(0,0%,13%, 1) );
    background: -ms-linear-gradient(top, hsla(0,0%,13%,0), hsla(0,0%,13%, 1) );
    background: linear-gradient(top, hsla(0,0%,13%,0), hsla(0,0%,13%, 1) );
    -webkit-transform: translate3d(0,1px,0);    
    -moz-transform: translate3d(0,1px,0);
    -ms-transform: translate3d(0,1px,0);
    transform: translate3d(0,1px,0);
    pointer-events: none;
}

.description {
    margin: 0;
    padding: 12px 20px 22px 20px;
    text-align: left;
    font-size: 14px;
    line-height: 20px;
}

.Details-attributions {
    margin: 0;
    padding: 12px 20px 22px 20px;
    text-align: left;
    font-size: 12px;
    line-height: 14px;
    color: #808080;
}
.action-buttons {
    position: absolute;
    top: 0;
    right: 0;
}

.Details .expand.digit-Button,
.Details .expand.digit-Button:hover,
.Details .expand.digit-Button.active,
.Details .expand.digit-Button:active,
.Details .expand.digit-Button.focus {
    color: white;
    display: block;
    border: none;
    border-radius: 0;
    height: auto;
    padding: 0;
    margin: 0;
    background: transparent;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    font-size: 12px;
    min-width: 30px;
    cursor: default;
}

.icon-popularity {
    margin-bottom: 2px;
    display: inline-block;
    width: 12px;
    height: 50px;
    vertical-align: bottom;
    background-size: 50px auto;
    background-image: url(icon_11517/icon_11517.svg);
    background-repeat: no-repeat;
    position: absolute;
    bottom: -3px;
    right: 6px;
}

/* Working to get hover states on the button */

@media (max-width: 500px) {
    .Details .expand.digit-Button,
    .Details .expand.digit-Button:hover,
    .Details .expand.digit-Button.active,
    .Details .expand.digit-Button:active,
    .Details .expand.digit-Button.focus {
        cursor: pointer;
    }
}

@media all and (max-width: 500px) and (orientation: portrait) {
    .scroller {
        height: 118px;
    }
}

@media all and (max-width: 500px) and (orientation: landscape) {
    .scroller {
        height: 79px;
    }
}

@media (max-width: 500px) or (orientation: portrait) {

    .summary > div {
        font-size: 9.5px;
        padding: 0;
        border: none;
    }
    .Details .title {
        font-size: 16px;
        padding-right: 75px;
    }
    .Details .action-buttons .digit-Button.button,
    .Details .action-buttons .digit-Button:focus,
    .Details .action-buttons .digit-Button:active,
    .Details .action-buttons .digit-Button.active,
    .Details .action-buttons .digit-Button:hover {
        font-size: 13px;
        width: 64px;
    }
    
}

.Details.visible {
    opacity: 1;
    -webkit-transition: opacity .35s, -webkit-transform .35s;
    -moz-transition: opacity .35s, -moz-transform .35s;
    -ms-transition: opacity .35s, -ms-transform .35s;
    transition: opacity .35s, transform .35s;
}