.Main {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    font-family: Helvetica, Arial, sans-serif;
}
.filter {
    position: fixed;
    background: black;
    z-index: 2;
}
.filter .matte-Button {
    display: block;
    position: relative;
    font-family: Helvetica, Arial, sans-serif;
    color: white;
    background-color: transparent;
    margin: 0;
    padding: 0;
    border: none;
    opacity: .5;
    height: auto;
    border-radius: 0;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
.filter .matte-Button:active,
.filter .matte-Button.active,
.filter .matte-Button:focus {
    background-color: #333;
    opacity: .6;
}
.filter .matte-Button:before {
    content: "";
    position: absolute;
    width: 32px;
    height: 32px;
    background-image: url(icons.png);
    background-repeat: no-repeat;
    background-size: 32px 332px;
}
.filter .matte-Button.in_theaters:before {
    background-position: 0 -100px;
}
.filter .matte-Button.upcoming:before {
    background-position: 0 -200px;
}
.filter .matte-Button.rentals:before {
    background-position: 0 -300px;
}
.filter .matte-Button.selected {
    opacity: 1;
    background-color: #333;
}
.facadeWindow {
    position: fixed;
    overflow: hidden;
}
.details.details-fade-out {
    -webkit-transition: -webkit-transform .35s;
    -moz-transition: -moz-transform .35s;
    -ms-transition: -ms-transform .35s;
    transition: transform .35s;
    opacity: 0;
}
@media (min-width: 501px) and (max-height: 660px) and (min-height: 501px) {
    .logo {
        position: fixed;
        top: 50%;
        left: 50%;
        display: block;
        margin-top: -340px;
        margin-left: -210.75px;
        width: 421.5px;
        height: 172.5px;
        z-index: 3;
        padding: 0;
        pointer-events: none;
        display: none;
    }
    .filter {
        top: 50%;
        left: 50%;
        margin-top: -248px;
        margin-left: -244px;
        background: none;
    }
    .filter .matte-Button {
        float: left;
        margin-left: 3px;
        width: 118px;
        height: 40px;
        padding-bottom: 16px;
        text-align: center;
        font-size: 14px;
        line-height: 24px;
        border-radius: 3px;
        border: 1px solid rgba(255,255,255,.15);
    }
    .filter .matte-Button:before {
        position: relative;
        display: inline-block;
        left: 0;
        top: 7px;
        width: 32px;
        height: 24px;
        background-size: 24px 249px;
    }
    .filter .matte-Button.in_theaters:before {
        background-position: 0 -75px;
    }
    .filter .matte-Button.upcoming:before {
        background-position: 0 -150px;
    }
    .filter .matte-Button.rentals:before {
        background-position: 0 -225px;
    }
    .facadeWindow {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
    .facadeWindow .facade-flow {
        margin-top: -530px;
    }
    .details {
        position: fixed;
        z-index: 3;
        bottom: 10px;
        width: 500px;
        left: 50%;
        margin-left: -250px;
        height: 180px;
        -webkit-transform: translate3d(0,95px,0);
        -moz-transform: translate3d(0,119px,0);
        -ms-transform: translate3d(0,119px,0);
        transform: translate3d(0,119px,0);
        -webkit-transition: opacity .35s, -webkit-transform .35s;
        -moz-transition: opacity .35s, -moz-transform .35s;
        -ms-transition: opacity .35s, -ms-transform .35s;
        transition: opacity .35s, transform .35s;
    }
    .details.expanded {
        -webkit-transform: translate3d(0,0,0);
        -moz-transform: translate3d(0,0,0);
        -ms-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
    }
}
@media (min-width: 501px) and (min-height: 660px) {
    .logo {
        position: fixed;
        top: 50%;
        left: 50%;
        display: block;
        margin-top: -365px;
        margin-left: -210.75px;
        width: 421.5px;
        height: 172.5px;
        z-index: 3;
        padding: 0;
        pointer-events: none;
    }
    .filter {
        top: 50%;
        left: 50%;
        margin-top: -228px;
        margin-left: -242px;
        background: none;
    }
    .filter .matte-Button {
        float: left;
        margin-left: 3px;
        width: 118px;
        height: 40px;
        padding-bottom: 16px;
        text-align: center;
        font-size: 14px;
        line-height: 24px;
        border-radius: 3px;
        border: 1px solid rgba(255,255,255,.15);
    }
    .filter .matte-Button:before {
        position: relative;
        display: inline-block;
        left: 0;
        top: 7px;
        width: 32px;
        height: 24px;
        background-size: 24px 249px;
    }
    .filter .matte-Button.in_theaters:before {
        background-position: 0 -75px;
    }
    .filter .matte-Button.upcoming:before {
        background-position: 0 -150px;
    }
    .filter .matte-Button.rentals:before {
        background-position: 0 -225px;
    }
    .facadeWindow {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
    .facadeWindow .facade-flow {
        margin-top: -525px;
    }
    .details {
        position: fixed;
        z-index: 3;
        top: 50%;
        width: 500px;
        left: 50%;
        margin-left: -250px;
        margin-top: 148px;
        height: 203px;
        -webkit-transition: opacity .35s, -webkit-transform .35s;
        -moz-transition: opacity .35s, -moz-transform .35s;
        -ms-transition: opacity .35s, -ms-transform .35s;
        transition: opacity .35s, transform .35s;
    }
    .details .title:before {
        display: none;
    }
}
@media (max-width: 500px) and (orientation: portrait) {
    .logo {
        display: none;
    }
    .filter {
        bottom: 0;
        left: 0;
        right: 0;
        height: 64px;
        padding: 0;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-box;
        display: box;
        -webkit-box-orient: horizontal;
        -moz-box-orient: horizontal;
        -ms-box-orient: horizontal;
        box-orient: horizontal;
    }
    .filter .matte-Button {
        -webkit-box-flex: 1;
        -moz-box-flex: 1;
        -ms-box-flex: 1;
        box-flex: 1;
        width: 25%;
        line-height: 100px;
        font-size: 11px;
        text-align: center;
    }
    .filter .matte-Button:before {
        left: 50%;
        top: 8px;
        margin-left: -16px;
    }
    .facadeWindow {
        top: 0;
        left: 0;
        right: 0;
        bottom: 64px;
    }
    .facadeWindow .facade-flow {
        margin-top: -525px;
    }
    .details {
        position: fixed;
        z-index: 1;
        bottom: 64px;
        left: 0;
        right: 0;
        height: 180px;
        border-radius: 0;
        -webkit-transform: translate3d(0,137px,0);
        -moz-transform: translate3d(0,137px,0);
        -ms-transform: translate3d(0,137px,0);
        transform: translate3d(0,137px,0);
        -webkit-transition: opacity .35s, -webkit-transform .35s;
        -moz-transition: opacity .35s, -moz-transform .35s;
        -ms-transition: opacity .35s, -ms-transform .35s;
        transition: opacity .35s, transform .35s;
    }
    .details.expanded {
        -webkit-transform: translate3d(0,0,0);
        -moz-transform: translate3d(0,0,0);
        -ms-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
    }
}
@media (max-height: 500px) and (orientation: landscape) {
    .logo {
        display: none;
    }
    .filter {
        top: 0;
        left: 0;
        bottom: 0;
        width: 126px;
        padding: 8px 0;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-box;
        display: box;
        -webkit-box-orient: vertical;
        -moz-box-orient: vertical;
        -ms-box-orient: vertical;
        box-orient: vertical;
    }
    .filter .matte-Button {
        -webkit-box-flex: 1;
        -moz-box-flex: 1;
        -ms-box-flex: 1;
        box-flex: 1;
        padding-left: 48px;
        text-align: left;
        font-size: 14px;
        white-space: nowrap;
    }
    .filter .matte-Button:before {
        left: 8px;
        top: 50%;
        margin-top: -16px;
    }
    .filter .matte-Button .CategoryButton-text {
        position: absolute;
        left: 48px;
        top: 50%;
        margin-top: -7px;
    }
    .facadeWindow {
        top: 0;
        left: 126px;
        right: 0;
        bottom: 0;
    }
    .facadeWindow .facade-flow {
        top: -65%;
        left: 0;
        bottom: -65%;
        right: 0;
        margin-top: -50px;
        height: auto;
        width: auto;
    }
    .details {
        position: absolute;
        bottom: 10px;
        left: 10px;
        right: 10px;
        height: 180px;
        max-width: 600px;
        min-width: 400px;
        margin: auto;
        -webkit-transform: translate3d(0,148px,0);
        -moz-transform: translate3d(0,148px,0);
        -ms-transform: translate3d(0,148px,0);
        transform: translate3d(0,148px,0);
        -webkit-transition: opacity .35s, -webkit-transform .35s;
        -moz-transition: opacity .35s, -moz-transform .35s;
        -ms-transition: opacity .35s, -ms-transform .35s;
        transition: opacity .35s, transform .35s;
    }
    .details.expanded {
        -webkit-transform: translate3d(0,0,0);
        -moz-transform: translate3d(0,0,0);
        -ms-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
    }
}

.MontageMade {
    position: absolute;
    top: 0;
    left: 25px;
    width: 50px;
    height: 100px;
    overflow: hidden;
    font-size: 0;
    color: transparent;
    background: url(../../assets/image/montage-made.svg) no-repeat center;
    background-size: 100% auto;
}

.MontageMade:hover {
    opacity: .9;
}

.MontageMade:active {
    top: 2px;
}

@media (min-width: 501px) and (max-width: 790px) and (max-height: 660px) and (min-height: 501px) {
    .Overlay .film:after {
        display: none;
    }
}
@media (min-width: 501px) and (max-width: 790px) and (min-height: 660px) {
    .Overlay .film:after {
        display: none;
    }
}
@media (max-width: 500px) and (orientation: portrait) {
    .Overlay .film:after {
        display: none;
    }
    .Overlay .top {
        display: none;
    }
}
@media (max-height: 500px) and (orientation: landscape) {
    .Overlay .film:after {
        display: none;
    }
}
