* {
    /*-webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    -moz-user-drag: none;
    -ms-user-drag: none;
    user-drag: none;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;*/
}

body {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #000;
}

#montage-app-bootstrapper {
    display: none;
    padding-top: 200px;
    color: white;
    text-align: center;
    font: 30px/1.8em "Lucida Grande", Lucida, Verdana, sans-serif;
}

.logo-bootstrapper {
    height: 30px; /* Half of real size -> Retina */
}

.montage-app-bootstrapping #montage-app-bootstrapper {
    display: block;
}

#montage-app-loader {
    display: none;
    text-align: center;
    color: #777;
    font: 20px/1.8em "Lucida Grande", Lucida, Verdana, sans-serif;
}

.montage-app-loading #montage-app-bootstrapper,
.montage-app-loading #montage-app-loader {
    display: block;
}

.main {
    visibility: hidden;
}

.montage-app-loaded .main {
    visibility: visible;
}