/* @override http://localhost:8082/montage-projects/ui/Moviepopup.reel/Moviepopup.css */

.Moviepopup {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding-top: 50px;
    background: black;
    -webkit-transform: translate3d( 0, -100%, 0 );
    -moz-transform: translate3d( 0, -100%, 0 );
    -ms-transform: translate3d( 0, -100%, 0 );
    transform: translate3d( 0, -100%, 0 );
    -webkit-transition: -webkit-transform .3s cubic-bezier(.53, .09, .94, .53);
    -moz-transition: -moz-transform .3s cubic-bezier(.53, .09, .94, .53);
    -ms-transition: -ms-transform .3s cubic-bezier(.53, .09, .94, .53);
    transition: transform .3s cubic-bezier(.53, .09, .94, .53);
    pointer-events: none;
}

.Moviepopup.is-shown {
    -webkit-transform: translate3d( 0, 0px, 0 );
    -moz-transform: translate3d( 0, 0px, 0 );
    -ms-transform: translate3d( 0, 0px, 0 );
    transform: translate3d( 0, 0px, 0 );
    -webkit-transition: -webkit-transform .3s cubic-bezier(0, .20, .15, 1);
    -moz-transition: -moz-transform .3s cubic-bezier(0, .20, .15, 1);
    -ms-transition: -ms-transform .3s cubic-bezier(0, .20, .15, 1);
    transition: transform .3s cubic-bezier(0, .20, .15, 1);
    display: block;
    pointer-events: all;
}

.Moviepopup .button-close,
.Moviepopup .button-close:focus {
    position: absolute;
    top: 6px;
    right: 6px;
    border-color: hsl(0,0%,0%);
    color: hsl(0,0%,60%);
    font-size: 15px;
    font-family: inherit;
    box-shadow: inset 0 1px 3px hsla(0,0%,0%,.3), 0 1px 2px hsla(0,0%,100%,.1);
    background: hsl(0,0%,12%) -webkit-linear-gradient(top, hsla(0,0%,100%,.1), hsla(0,0%,0%,.1) );
    background: hsl(0,0%,12%) -moz-linear-gradient(top, hsla(0,0%,100%,.1), hsla(0,0%,0%,.1) );
    background: hsl(0,0%,12%) -ms-linear-gradient(top, hsla(0,0%,100%,.1), hsla(0,0%,0%,.1) );
    background: hsl(0,0%,12%) linear-gradient(top, hsla(0,0%,100%,.1), hsla(0,0%,0%,.1) );
}

.Moviepopup .button-close.active {
    background: hsl(0,0%,10%) -webkit-linear-gradient(top, hsla(0,0%,40%,.1), hsla(0,0%,0%,.1) );
    background: hsl(0,0%,10%) -moz-linear-gradient(top, hsla(0,0%,40%,.1), hsla(0,0%,0%,.1) );
    background: hsl(0,0%,10%) -ms-linear-gradient(top, hsla(0,0%,40%,.1), hsla(0,0%,0%,.1) );
    background: hsl(0,0%,10%) linear-gradient(top, hsla(0,0%,40%,.1), hsla(0,0%,0%,.1) );
}
