.Moviestrip  {
    position: absolute;
    top: 50%;
    margin-top: -500px;
    left: 0;
    right: 0;
    height: 1000px;
}
.Moviestrip-flow .montage-Flow-Repetition {
    opacity: 1;
    -webkit-transition: opacity .5s;
    -moz-transition: opacity .5s;
    -ms-transition: opacity .5s;
    transition: opacity .5s;
}
.Moviestrip-flow.is-hidden .montage-Flow-Repetition {
    opacity: 0;
}
.montage-Flow-Slot {
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
}
.Moviestrip-flow .Moviestrip-image  {
    position: absolute;
    width: 180px;
    height: 267px;
    margin-left: -90px;
    margin-top: -130px;
    cursor: pointer;
    background: #000;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.Moviestrip-flow .Moviestrip-image:before {
    content: "";
    position: absolute;
    top: -26px;
    left: -33px;
    width: 246px;
    height: 332px;
    background-image: url(frame.png);
    pointer-events: none;
    background-size: 246px 332px;
    background-repeat: no-repeat;
}
